/*
Common CSS
*/
/*
Font face
*/


.fa-3x{display: none;color: white;font-size: 20px;}
#menuRes .menuResponsive{display: none}
a{transition: all 0.5s ;text-decoration: none;}
body{font-family: "Conv_AvertaDemo-Regular"}
/* 
Top header Area
*/

#header_area{background: #111111;padding: 0 49px;}
#header_area .header-right{}
#header_area .bar-img{display: flex;width: 100%;align-items: center;}
#header_area img{margin-left: 15px;margin-top: 15px;}
#header_area ul{list-style: none;padding:0;margin: 0;text-align: left }
#header_area ul li{font-size: 15px !important;position: relative; }
#header_area ul li {padding: 25px 5px;}
#header_area ul li a img{margin-top:-10px;margin-left: -16px;}
#header_area ul li a{font-size: 14px;text-transform: uppercase;display: block;text-decoration: none;color: #ffffff;padding: 18px 15px;}
 
#header_area ul li a.last{background:linear-gradient(to right, #ee6f64,#fd9c7b);border-radius: 30px;padding: 15px 30px;}
#header_area ul li .language{display: none; position: absolute;z-index: 5;top:72px;}
#header_area ul li .muiten{display: none; width: 0;height: 0;border-style: solid;border-width: 0 5px 10px 5px;border-color: transparent transparent #ffffff transparent;position: absolute;left: 30px;top:62px;left: 60px;}
#header_area ul li .sub-menu{background: white;padding:10px;margin:0;width: 120%}
#header_area ul li .sub-menu li{padding:6px;}
#header_area ul li .sub-menu li img{margin-top: 0px;}
#header_area ul li .sub-menu li span{margin-left:5px;}
#header_area ul li .sub-menu li:first-child{border-bottom: 1px solid #cccccc}
#header_area ul li:hover .language{display: block;}
#header_area ul li a:hover{color: #fd9c7b}
#header_area ul li a:last-child:hover{color: #595959}
#header_area ul li:hover .muiten{display: block;}
#header_area ul li .account{width: 250%;margin-top: 13px;}
#header_area ul li .muiten1{ display: none; width: 0;height: 0;border-style: solid;border-width: 0 5px 10px 5px;border-color: transparent transparent #ffffff transparent;position: absolute;left: 30px;top:75px;left: 10px;}
#header_area ul li:hover .muiten1{display: block;}


/*
  Menu Responsive
 */
#menuRes{background: #111111; }
#menuRes .menuResponsive{list-style: none;padding: 0;margin: 0}
#menuRes .menuResponsive li{padding: 10px ;}
#menuRes .menuResponsive li a{text-transform: uppercase;display: block;text-decoration: none;color: #ffffff}
#menuRes .menuResponsive li a.last{background:linear-gradient(to right, #ee6f64,#fd9c7b);border-radius: 30px;padding: 10px; width: 130px;}

/*
/* 
map
*/
.clip_path{clip-path: polygon(50% 0%, 100% 0, 100% 60%, 49% 74%, 0% 60%, 0 0);margin-top: -5px;z-index: 1}
/*

Breadcrumb1
*/

.breadcrumb1{background-image: url(../images/Layer6.jpg);min-height: 1250px;margin-top: -850px;background-size: cover;z-index: -9999}
.breadcrumb1 .form{position: absolute;width: 100%;top: 770px;z-index: 100000;background-size: cover;}
.breadcrumb1 .container{padding: 0 52px;}



/*
/*
Form Search
*/

.breadcrumb1 .form .container .row .col-md-2 .button a{margin-right:30px;display:block;margin-top: 35px;background:linear-gradient(to right, #ee6f64,#fd9c7b);border-radius: 30px;padding: 10px;width: 130%;text-decoration: none;color:white;text-align: center;}
.breadcrumb1 .form .container .row .col-md-2{padding:0;}
.breadcrumb1 .form .container .row .col-md-2{padding:0 30px;}
.breadcrumb1 .form .container{min-height: 120px;padding-top:20px;background: #ffffff}
 

/*
  Slide1

*/

.slide{padding-top: 600px;}
.slide .container{padding:0;}
.slide h1{font-size: 24px;font-weight: 500;color: #ffffff;padding: 60px 0 45px 0}
.slide .item .content{padding: 23px;background: #ffffff;margin-top: -2px;}
.slide .item{border-bottom: none;}
.slide .item p,h6{font-size: 14px;}
.slide .item p{margin-bottom: 10px}
.slide .item h6 i{color: #ffa800}
/*slide 2*/
.breadcrumb2{background: #dadada;min-height: 730px;clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);}
.breadcrumb2 h5{font-size: 24px;font-weight: 600;margin-top: 94px;margin-bottom: 25px}

.breadcrumb2 .owl-carousel2 .item .img-content{display: flex;margin-top: 30px;}
.breadcrumb2 .owl-carousel2 .item .img-content .item2{background: #ffffff;padding-top: 30px;padding-left: 30px;}
.breadcrumb2 .owl-carousel2 .item .img-content .item2 p span{color: #999999}
.breadcrumb2 .owl-carousel2 .item .img-content .item2 p {margin:5px}
.breadcrumb2 .owl-carousel2 .item .img-content .item2 p .price {text-decoration: line-through;}
.breadcrumb2 .owl-carousel2 .item .img-content .item2 p .sale {color: #ef6f64}
.breadcrumb2 .owl-carousel2 .item .img-content .item2 h4{font-size: 14px;font-weight: 600}
.breadcrumb2 .owl-carousel2 .item .row{margin-top: 33px;}
.breadcrumb2 .owl-carousel2 .item .img-content{background:white }
.owl-theme .owl-dots .owl-dot span {width: 10px; height: 10px;margin: 30px 3px;background: #715a5a;display: block;-webkit-backface-visibility: visible;transition: opacity .2s ease;border-radius: 30px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: red;}
/*breadcumb3 style*/
.breadcrumb3{min-height: 400px;}
.breadcrumb3 .container{padding:0;}
.breadcrumb3 h5{font-size: 24px;font-weight: 600;margin-top: 60px;margin-bottom: 57px;}

.breadcrumb3 .first{font-size: 14px;font-weight: 600;margin-top: 20px;margin-bottom: 3px;}
.breadcrumb3 .last{font-size: 14px;color: #919191}


/*breadcrumb4 style*/
.breadcrumb4{background: #ececec;clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);min-height: 714px;}
.breadcrumb4 .item2{margin-left: 33px;}
.breadcrumb4 .row .col-md-5{margin-top: 56px;}
.breadcrumb4 .row .col-md-7{margin-top: 56px;padding-left: 210px}
.breadcrumb4 h3{text-transform: uppercase;font-size: 24px;font-weight: 530;margin-top: 63px;margin-bottom: 40px;}
.breadcrumb4 p{color: #bebebe}
.breadcrumb4 .social{margin-top: 50px}
/*breadcrumb5 style*/
.breadcrumb5 h3{font-size: 24px;font-weight: 550;margin-top: 60px;margin-bottom: 60px;}
.breadcrumb5 .container{padding: 0;}
.breadcrumb5 .card{border: none;}
.breadcrumb5 .card-body{padding:0;}
.breadcrumb5 .card-body h5,p,a{font-size: 14px;}
.breadcrumb5 .card-body h5{margin-top: 15px;}
.breadcrumb5 .card-body p{margin-top: 15px;color: #808080}
.breadcrumb5 .card .card-body a{text-decoration: none ;color:#e56055}


/*breadcrum6 style*/
.breadcrumb6{clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);background: #1a1a1a;min-height: 755px;margin-top: 60px}
.breadcrumb6 .col-md-7{margin-top:60px }
.breadcrumb6 .col-md-7 img{margin-left: -90px}

.breadcrumb6 h4{font-size: 30px;color: #ffffff;font-weight: 600;line-height: 40px}

.breadcrumb6 .content{color:#ffffff;position: absolute;top: 190px;left: 25px;text-align: center;}
.breadcrumb6 .content span{position: relative;top: -30px;}
.breadcrumb6 .content .first{font-size: 40px;margin:0;}
.breadcrumb6 .content .last{font-size: 100px;font-weight: 600;margin:0;}
.breadcrumb6 .content .last span{font-size: 70px;}
.breadcrumb6  .breadcrumb6-right{margin-top: 120px;}
.breadcrumb6  .breadcrumb6-right .text1{margin-top: 22px;font-size: 14px;}
.breadcrumb6 .check-radio{display: flex;}
.breadcrumb6 .check-radio p{margin:0;}
.breadcrumb6 .breadcrumb6-right .text1:first-child {margin-top: 50px;}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #F87DA9;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.breadcrumb6 .check-radio .item{width: 100%;color: #919191;background: #ffffff;height: 49px;border-radius: 6px;line-height: 49px;margin-top: 22px;padding-left: 15px;font-size: 14px;}
.breadcrumb6 .check-radio .item2{margin-left: 15px}
.breadcrumb6 .btn-dangky{margin-top: 22px; background:linear-gradient(to right, #ee6f64,#fd9c7b);color: #fef7f5;font-size: 14px;border-radius: 6px;height: 48px;padding:0;border:none;}





/*




Footer Stylefile:///C:/Users/anpla/OneDrive/Desktop/Frontend/Blog_HomeV3/index.html
*/
#footer{ background: #111111;padding-top: 30px;color: #ffffff;font-size: 14px;}
#footer i{font-size: 15px;margin-right: 10px}
#footer p a{color: white;text-decoration: none;}
#footer .aht{margin-top: 30px;}
#footer .content{margin-top: 15px;}
#footer .facebook{margin-top: 15px;}
#footer .icons a i{font-size: 25px}
#footer .gachchan{border:1px solid #1f1f1f;}
#footer .google_play{margin-right: 20px;}
#footer  .col-md-4 .logo-f{width: 130px }

/*
Responsive device
*/

@media only screen and (max-width: 1900px) and (min-width: 1550px)
{
    #header_area ul li {padding: 25px 0px;}
    #header_area ul li a{text-transform: uppercase;display: block;text-decoration: none;color: #ffffff;padding: 18px 10px;}
    #header_area ul li a.last{background:linear-gradient(to right, #ee6f64,#fd9c7b);border-radius: 30px;padding: 15px 30px;}
    #menuRes .menuResponsive{display: none}
}

@media only screen and (max-width: 1550px) and (min-width: 1200px)
{
    #header_area ul li {padding: 25px 0px;font-size: 10px}
    #header_area ul li a{text-transform: uppercase;display: block;text-decoration: none;color: #ffffff;padding: 18px 10px;}
    #header_area ul li a.last{background:linear-gradient(to right, #ee6f64,#fd9c7b);border-radius: 30px;padding: 15px 30px;}
    #menuRes .menuResponsive{display: none}
}

@media only screen  and (max-width: 1200px)
{
    #header_area .nav{display: none;}

   #menuRes .menuResponsive{display: none}
    #header_area img{padding: 20px;}
    #content img{width: 100%}
    #header_area .fa-3x{display: block; padding: 20px;float: left}

}
@media only screen and (max-width: 768px)
{
   .breadcrumb1 .slide{padding-top: 700px;}
   #header_area{background: #111111;padding:0}

.breadcrumb6 .content{color:#ffffff;position: absolute;top: 140px;left: 130px;text-align: center;}
.breadcrumb6 .content .first{font-size: 30px;margin:0;}
.breadcrumb6 .content .last{font-size: 60px;font-weight: 600;margin:0;}
.slide .item{padding:0 15px;}
.breadcrumb1 .form .container .col-md-2:last-child{padding-bottom: 15px;padding-left: 0}
.breadcrumb1 .form .container .col-md-2 a{margin-left: 30px;} 
.breadcrumb6 .content span{position: relative;top: -10px;}
.slide .container{padding:0 15px;}
.breadcrumb5 .container{padding: 0 15px;}
.breadcrumb3 .container{padding:0 15px;}
.breadcrumb1 .container{padding: 0 15px;}
.breadcrumb4 .row .col-md-7{margin-top: 56px;padding-left: 15px;}
.slide .item{padding:0;}
.breadcrumb2 .owl-carousel2 .item{padding:0 15px;}
.breadcrumb6 .btn-dangky{margin-bottom: 15px;}
.slide h1{padding-top: 130px}
.breadcrumb6 .col-md-7 img{margin-left:0}



}
@media only screen and (max-width: 320px)
{
   .
.breadcrumb6 .content{color:#ffffff;text-align: center;}

.breadcrumb6 .content .first{font-size: 15px;margin:0;}
.breadcrumb6 .content .last{font-size: 20px;font-weight: 600;margin:0;}
.breadcrumb6 .content .last span{font-size: 15px;}





}
@media only screen and (max-width: 1024px)
{
  .breadcrumb1 .form .button a{
        font-size: 11px;
   } 
}
@media only screen and (max-width: 1350px) and (min-width: 1200px){
#header_area ul li a{font-size: 12px;}
#header_area ul li a.last{padding: 15px 15px;}
#header_area ul li .sub-menu li{padding:6px;}
#header_area ul li .language-res{width: 120%;}
#header_area ul li .account{width: 250%;}
}
@media screen and (min-width: 1200px){
    .container{
        max-width:1170px; 

    }
}

@media screen and (min-width: 1920px){
#header_area .col-md-9{padding: 0;}

}
@media screen and (min-width: 1920px){
#header_area .col-md-9{padding: 0;}
.breadcrumb2 h5{font-size: 24px;font-weight: 600;margin-top: 94px;margin-bottom: 28px}
.owl-theme .owl-dots .owl-dot span {width: 8px; height: 8px;margin: 32px 3px;background: #715a5a;display: block;-webkit-backface-visibility: visible;transition: opacity .2s ease;border-radius: 30px;}
.slide h1{font-size: 24px;font-weight: 500;color: #ffffff;padding: 73px 0;padding-bottom: 43px;}
.breadcrumb2 h5{font-size: 24px;font-weight: 600;margin-top: 97px;margin-bottom: 20px}
/*.clip_path{clip-path: polygon(0 0, 100% 1%, 100% 50%, 50% 69%, 0% 50%);margin-top: -5px;z-index: 1}*/
/*.breadcrumb1 .form{position: absolute;width: 100%;top: 453px;z-index: 100000;background-size: cover;}*/
.slide .item .content{padding: 25px;background: #ffffff;margin-top: -2px;padding-bottom: 10px;}
.breadcrumb1{min-height: 775px;}
.breadcrumb2 .owl-carousel2 .item .img-content .item2 .last-p{padding-right: 65px}
.breadcrumb2 .container{padding:0;}
.breadcrumb2{min-height: 795px;}
.breadcrumb3 h5{font-size: 24px;font-weight: 600;margin-top: 90px;margin-bottom: 57px;}
.breadcrumb3 .first{font-size: 14px;font-weight: 600;margin-top: 25px;margin-bottom: 3px;}
.breadcrumb3{min-height: 430px;}
.breadcrumb4 .container{padding:0;}
.breadcrumb4 h3{margin-bottom: 40px;}
.breadcrumb4 p{padding-right: 0px;color: #bebebe}
.breadcrumb4 .social{margin-top: 65px;}

.breadcrumb4{background: #ececec;clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%)}
.breadcrumb6{clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);}
.breadcrumb6 .col-md-8{margin-top: 120px;padding:0;}
.breadcrumb6 .container{padding: 0px;}
}


